# Ignore local packages and builds
node_modules/
dist/
npm-debug.log*

# Ignore environment variables
.env
.env*.local

# Ignore docker files
Dockerfile
docker-compose.yaml
.dockerignore

# Ignore git and IDE configurations
.git
.gitignore
.vscode/
.idea/
.DS_Store
